* {
  box-sizing: border-box;
  font-family: Manrope;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #767676;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #15c63c;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0e8027;
}

:root {
  --green: #15c63c;
  --translucent-green: rgba(21, 198, 60, 0.7);
  --dark-gray: #131313;
  --light-gray: #aaa;
  --red: #cc0000;
  --orange: #ff8317;
  --white: #fffdfa;
  --black: #000;
}
.page-wrap {
  margin: auto;
  max-width: 1400px;
  min-height: 60vh;
}

body {
  background-color: var(--dark-gray);
  color: var(--white);
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-gray);
  border: 1px solid var(--green);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  font: 400 16px/1.2 'Russo One', 'Verdana', sans-serif;
  outline: 0;
  padding: 16px;
  margin-top: 3px;
  transition: all 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: var(--green);
}

h1 {
  margin: 0;
  margin: 16px 0 0;
  padding: 16px 0;
  font: 400 36px/1.1 'Russo One', sans-serif;
}

h2 {
  font: 400 24px/1.1 'Russo One', sans-serif;
}

h3 {
  font: 400 20px/1.1 'Russo One', sans-serif;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--white);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
}

.add-to-cart {
  width: 100%;
  margin-top: 16px;
}

.green-button {
  background-color: green;
}

.grey-button {
  background-color: #888;
  width: 100%;
}

.nav-buttons-wrap {
  position: absolute;
  right: 16px;
  top: 16px;
}

.grid-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.large-grid-item {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--green);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  width: 32%;
  transition: all 0.2s;
}

.large-grid-item:hover,
.small-item-grid:hover {
  box-shadow: 2px 4px 12px var(--green);
}

.large-grid-item img {
  height: 150px;
  width: 150px;
}

.large-grid-item a {
  width: 100%;
}

.large-grid-item button {
  width: 100%;
}

.small-grid-item {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--green);
  display: flex;
  flex-direction: column;
  padding: 8px;
  position: relative;
  width: 18%;
  transition: all 0.2s;
}

.small-grid-item img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.small-grid-item a {
  width: 100%;
}

.small-grid-item button {
  width: 100%;
  padding: 8px 2px;
}

.item-name {
  margin-left: 5px;
  margin-bottom: 2px;
  font: 700 24px/1.2 'Helvetica', 'Arial', sans-serif;
  color: var(--white);
  text-align: center;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.img-wrap {
  display: flex;
  align-items: center;
}
.img-wrap img {
  width: 100px;
  border-radius: 50%;
}
