* {
  box-sizing: border-box;
  font-family: Manrope;
}

:root {
  --green: #15c63c;
  --dark-gray: #131313;
  --light-gray: #aaa;
  --red: #cc0000;
  --orange: #ff8317;
  --white: #fffdfa;
  --black: #000;
}

.page-wrap {
  margin: auto;
  max-width: 1100px;
  min-height: 100vh;
}

body {
  background-color: var(--dark-gray);
  color: var(--white);
}

button {
  background-color: var(--dark-gray);
  border: 1px solid var(--green);
  border-radius: 8px;
  color: var(--white);
  cursor: pointer;
  font: 400 16px/1.2 'Russo One', 'Verdana', sans-serif;
  outline: 0;
  padding: 16px;
  margin-top: 3px;
  transition: all 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: var(--green);
}

h1 {
  border-bottom: 1px solid black;
  margin: 0;
  margin-top: 16px;
  padding: 16px;
  font: 400 36px/1.1 'Russo One', sans-serif;
}

h2 {
  font: 400 24px/1.1 'Russo One', sans-serif;
}

h3 {
  font: 400 20px/1.1 'Russo One', sans-serif;
}

.add-to-cart {
  width: 100%;
  margin-top: 16px;
}

.green-button {
  background-color: green;
}

.grey-button {
  background-color: #888;
  width: 100%;
}

.nav-buttons-wrap {
  position: absolute;
  right: 16px;
  top: 16px;
}

.grid-wrap {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.large-grid-item {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--green);
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
  width: 32%;
  transition: all 0.2s;
}

.large-grid-item:hover,
.small-item-grid:hover {
  box-shadow: 2px 4px 12px var(--green);
}

.large-grid-item img {
  height: 150px;
  width: 150px;
}

.large-grid-item a {
  width: 100%;
}

.large-grid-item button {
  width: 100%;
}

.small-grid-item {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 5px var(--green);
  display: flex;
  flex-direction: column;
  padding: 8px;
  position: relative;
  width: 18%;
  transition: all 0.2s;
}

.small-grid-item img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.small-grid-item a {
  width: 100%;
}

.small-grid-item button {
  width: 100%;
  padding: 8px 2px;
}

.item-name {
  margin-left: 5px;
  margin-bottom: 2px;
  font: 700 24px/1.2 'Helvetica', 'Arial', sans-serif;
  color: var(--white);
  text-align: center;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.img-wrap {
  display: flex;
  align-items: center;
}
.img-wrap img {
  width: 100px;
  border-radius: 50%;
}
